# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Others
/coverage
.nyc_output
.nyc_tmp
/.extractedApi.md
*.sublime-project
*.sublime-workspace

# NPM extras
/docs
/tools
/test
/ROADMAP.md
/.travis.yml
/.npmignore
